<div class="row">
  <br/>
  <br/>
  <div class="row text-right">
    <button class="btn btn-info" routerLink="/cables/new">Add new Cable</button>
  </div>
  <br/>
  <div class="row mat-elevation-z8">
    <mat-form-field appearance="standard" style="width: 80%">
      <mat-label>Filter</mat-label>
      <input matInput (keydown.enter)="applyFilter($event)" placeholder="Enter here your query then press 'enter' button" #input>
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" matSort id="cableTable">
      <!-- Cable Name Column -->
      <ng-container matColumnDef="cableName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Cable Name</th>
        <td mat-cell *matCellDef="let row"> {{row.cableName}} </td>
      </ng-container>

      <!-- Cable Type Column -->
      <ng-container matColumnDef="cableType">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Cable Type</th>
        <td mat-cell *matCellDef="let row"> {{row.cableType}} </td>
      </ng-container>

      <!-- Thickness Column -->
      <ng-container matColumnDef="thickness">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Thickness</th>
        <td mat-cell *matCellDef="let row"> {{row.thickness}} CM</td>
      </ng-container>

      <!-- Length Column -->
      <ng-container matColumnDef="length">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Length</th>
        <td mat-cell *matCellDef="let row"> {{row.length}} CM</td>
      </ng-container>

      <!-- Price Column -->
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Price</th>
        <td mat-cell *matCellDef="let row"> {{row.price}} TL</td>
      </ng-container>

      <!-- Status Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status</th>
        <td mat-cell *matCellDef="let row" [style]="{color:getColor(row.status)}"> {{getTableStatusValue(row.status)}} </td>
      </ng-container>

      <!-- Activated Date Column -->
      <ng-container matColumnDef="activatedDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Activated Date</th>
        2022.10.11 12:13:14
        <td mat-cell *matCellDef="let row"> {{row.activatedDate | date : 'yyyy.MM.dd HH:mm:ss'}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>Actions </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button mat-icon-button matTooltip="Click to Edit" (click)="onEdit(row)" class="btn btn-info" style="margin-right: 5%;">
<!--            <mat-icon aria-label="Edit" style=" height: 20%">edit</mat-icon>-->
            <span>Edit</span>
          </button>
          <button mat-icon-button matTooltip="Click to Delete" (click)="openDialog('0ms', '0ms', row)" class="btn btn-danger">
<!--            <mat-icon aria-label="Delete">delete</mat-icon>-->
            <span>Delete</span>
          </button>
        </mat-cell>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <!-- Row shown when there is no matching data. -->
<!--      <tr class="mat-row" *matNoDataRow>-->
<!--        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>-->
<!--      </tr>-->
    </table>

    <mat-paginator
      [length]="responseData.totalElements"
      [pageIndex]="responseData.number"
      [pageSize]="responseData.size"
      [pageSizeOptions]="[5, 10, 25, 100]"
      (page) = "pageEvent = $event; onPaginateChange($event)"
      showFirstLastButtons
    ></mat-paginator>
  </div>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
